<ul class="messages-list">
  <% messages.forEach((value) => { %>
  <li class="message-item">
    <h1><%= value.user %></h1>
    <h5><%= value.added %></h5>
    <p><%= value.text %></p>
  </li>
  <% }) %>
</ul>
