<ul class="messages-list">
  <% messages.forEach((value, index) => { %>
  <li class="message-item" onclick= <%= `window.location.href='/message/${index}'` %> >
    <h1><%= value.user %></h1>
    <h5><%= value.added %></h5>
    <p><%= value.text %></p>
  </li>
  <% }) %>
</ul>
