<div class="new-container">
  <form action="post" method="/new">
    <div class="input-container">
      <label for="input-user">User:</label>
      <input id="input-user" type="text" />
      <label for="input-user">Message:</label>
      <input id="input-user" type="text" />
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
