<form method="POST" action="/new">
  <label for="input-user">User:</label>
  <input id="input-user" name="user" type="text" />
  <label for="input-message">Message:</label>
  <textarea id="input-message" name="message" rows="4"></textarea>
  <button type="submit">Submit</button>
</form>

